<div id="ranking" class="ranking true">

<!-- Hide temporarily, we can't count ranking position with searching -->
<% if false %>
  <%= form_tag(search_user_path, :method => 'get') do %>
    <%= text_field_tag "search", "", :placeholder => "Search people" %>
    <%= submit_tag "Search", :class => "search" %>
  <% end %>
<% end %>

<div class="ranking-head">
  <h1>Our Ranking</h1>
  <h2>Check out how good your scores compared to scores of other players.</h2>
</div>

<% if defined?(@ranking) %>
<table border="0" cellspacing="5" cellpadding="5">
  <thead>
    <tr>
      <th>Position</th>
      <th>User</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @ranking.each_with_index do |user, index| %>
    <tr <%= raw 'class="you"' if user.id == @user.id %>>
      <td><%= index + 1 %></td>
      <td><%= link_to user.name, "/user/profile/#{user.id}" %></td>
      <td><%= user.total_score %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
Choose a ranking
<ul>
  <li>General</li>
  <li>Weekly</li>
</ul>
<% end %>
</div>
