<%= javascript_tag do %>
  $(function(){
    var game = new Game({
      user: <%= raw @user.to_json %>,
      image: '#image-container',
      message: '#message-container',
      options_container: '#options',
      countdown_container: '#countdown',
      timer: 15,
      sequence: 2
    });
    game.ask();
  });
<% end %>

<!-- Templates -->
<script id="image_tpl" type="text/x-handlebars-template">
  <img src="{{url}}" alt="?" />
</script>

<script id="option_tpl" type="text/x-handlebars-template">
  <a href="#" class="option" data-id="{{id}}">{{name}}</a>
</script>

<script id="message" type="text/x-handlebars-template">
  <div class="message back {{type}}">
    <img src="{{image_src}}" alt="{{type}}" title="{{type}}" width="116" height="116" />
    <h2>{{title}}</h2>
    <p>{{message}}</p>
    {{#if link}}
      <a href="{{href}}" title="{{title}}">{{title}}</a>
    {{/if}}
  </div>
</script>

<div class="middle">
  <div class="true" style="padding-top: 100px;">
    <div id="score-container" class="game-left animated">
      <span id="combo" class="combo"></span>
      <span id="score">0</span>points
    </div>
    <div class="game-center">
      <img src="/assets/focus-mask.png" alt="Guessing Game" title="Guessing Game" class="mask" />
      <div id="image" class="image animated3d">
        <div id="message-container" class="animated animated3d"></div>
        <div id="image-container" class="animated animated3d"></div>
      </div>
    </div>
    <div class="game-right" class="animated">
      <span id="countdown"></span>seconds
    </div>
    <div id="specials" class="powerup">
      <a id="cut" href="#">
        <span class="counter"><%= @user.as_json[:specials]['cut'] %></span>
      </a>
      <a id="extra_time" href="#">
        <span class="counter"><%= @user.as_json[:specials]['extra_time'] %></span>
      </a>
      <a id="pass" href="#">
        <span class="counter"><%= @user.as_json[:specials]['pass'] %></span>
      </a>
      <div id="sequence"></div>
    </div>
    <div id="options" class="answers"></div>
  </div>
</div>
