<%= javascript_tag do %>
  $(function (){
    $(".buy_special").validate({
    	errorPlacement: function(error, element) { return false; },

    	submitHandler: function() {
    		$('span#loading').show();

        $.ajax({
            url: "<%= shop_buy_path %>.json",
            cache: false,
            dataType: 'json',
            type: 'POST',
            data: $(".buy_special").serialize(),
            success: function (data, success) {
                alert( data.message );
                $(".buy_special")[0].reset();
                $("#total").text("0");
            }
        });
  		
    	}
    });

    $(".update_total").focusout(function(){
      var total = 0;

      for(i = 0; i < $(".special-info").length; i++){
        var price = isNaN(parseInt($($(".special-info")[i]).find(".price").text())) ? 0 : parseInt($($(".special-info")[i]).find(".price").text());
        var qtt = isNaN(parseInt($($(".special-info")[i]).find('.update_total').val())) ? 0 : parseInt($($(".special-info")[i]).find('.update_total').val());

        total = total + (price * qtt);
      }
      
      // Update the total
      $("#total").text(total);
    });
    
  });
<% end %>
<div id="specials">
<div id="total">
  0
</div>
<%= simple_form_for "available_specials", :html => { :class => "buy_special" } do |f| %>
  <% @specials.each do |special| %>
  <div class="special-info" id="<%= special.id %>">
    <%= special.name %>
    <span class="price"><%= special.price %></span>
    <%= f.input "#{special.id}", :required => false, :label => false, :input_html => { :class => "update_total" } %>
  </div>
  <% end %>
  <%= f.submit "Buy" %>  
<% end %>
</div>