<%= javascript_tag do %>
  $(function (){
    $(".buy_special").validate({
    	errorPlacement: function(error, element) { return false; },

    	submitHandler: function() {
    		$('span#loading').show();

        $.ajax({
            url: "<%= shop_buy_path %>.json",
            cache: false,
            dataType: 'json',
            type: 'POST',
            data: $(".buy_special").serialize(),
            success: function (data, success) {
                alert( data.message );
                $(".buy_special")[0].reset();
                $("#total").text("0");
            }
        });
  		
    	}
    });

    $(".update_total").focusout(function(){
      var total = 0;

      for(i = 0; i < $(".special-info").length; i++){
        var price = isNaN(parseInt($($(".special-info")[i]).find(".price").text())) ? 0 : parseInt($($(".special-info")[i]).find(".price").text());
        var qtt = isNaN(parseInt($($(".special-info")[i]).find('.update_total').val())) ? 0 : parseInt($($(".special-info")[i]).find('.update_total').val());

        total = total + (price * qtt);
      }
      
      // Update the total
      $("#total .cart").text(total);
    });
    
  });
<% end %>
<div id="specials" class="true">
<div id="total">
  <h1>
    $ <span class="cart">0</span> /
    $ <span class="coins"><%= @user.coins %></span>
  </h1>
  <h2>Buy specials items and get more performance.</h2>
</div>
<% images = { 1 => "icon-time-shop.png", 2 => "icon-cut-shop.png", 3 => "icon-next-shop.png" }
description = { 1 => "Add 10 seconds to your answer time giving you more score.", 2 => "Eliminate 2 errors answers and maximize your successful chance.", 3 => "Jump to next question, getting the score as correct answer." }
%>
<%= simple_form_for "available_specials", :html => { :class => "buy_special" } do |f| %>
  <% @specials.each do |special| %>
  <div class="special-info" id="<%= special.id %>">
    <div class="item-thumb">
    <%= image_tag images[special.id] %>
    </div>
    <h2><%= special.name %> <span>($ <span class="price"><%= special.price %></span> un.)</span></h2>
    <p>
      <%= description[special.id] %>
    </p>
    <%= f.input "#{special.id}", :required => false, :label => false, :input_html => { :class => "update_total" } %>
  </div>
  <% end %>
  <%= f.submit "Buy", :class => "buy" %>  
<% end %>
</div>