<%= javascript_tag do %>
  $(function (){
    $(".buy_helper").validate({
    	errorPlacement: function(error, element) { return false; },

    	submitHandler: function() {
    		$('span#loading').show();

        $.ajax({
            url: "<%= shop_buy_path %>.json",
            cache: false,
            dataType: 'json',
            type: 'POST',
            data: $(".buy_helper").serialize(),
            success: function (data, success) {
                alert( data.message );
                $(".buy_helper")[0].reset();
                $("#total").text("0");
            }
        });
  		
    	}
    });

    $(".update_total").focusout(function(){
      var total = 0;

      for(i = 0; i < $(".helper-info").length; i++){
        var price = isNaN(parseInt($($(".helper-info")[i]).find(".price").text())) ? 0 : parseInt($($(".helper-info")[i]).find(".price").text());
        var qtt = isNaN(parseInt($($(".helper-info")[i]).find('.update_total').val())) ? 0 : parseInt($($(".helper-info")[i]).find('.update_total').val());

        total = total + (price * qtt);
      }
      
      // Update the total
      $("#total").text(total);
    });
    
  });
<% end %>
<div id="helpers">
<div id="total">
  0
</div>
<%= simple_form_for "available_helpers", :html => { :class => "buy_helper" } do |f| %>
  <% @helpers.each do |helper| %>
  <div class="helper-info" id="<%= helper.id %>">
    <%= helper.name %>
    <span class="price"><%= helper.price %></span>
    <%= f.input "#{helper.id}", :required => false, :label => false, :input_html => { :class => "update_total" } %>
  </div>
  <% end %>
  <%= f.submit "Buy" %>  
<% end %>
</div>