<!DOCTYPE html>
<html>
<head>
  <title>Guessinga.me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="total">
  <header>
    <%= render 'layouts/header' %>
  </header>

<%= yield %>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>

</div>
</body>
</html>
